name: Build Multiplatform
on: [push]

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # Permite que si uno falla, los otros sigan compilando
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: transparente_rust-linux
            binary_path: rust/target/release/transparente_rust
          - os: windows-latest
            artifact_name: transparente_rust-windows
            binary_path: rust/target/release/*.exe
          - os: macos-latest
            artifact_name: transparente_rust-macos
            binary_path: rust/target/release/transparente_rust

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwayland-dev libx11-dev libxkbcommon-dev libegl1-mesa-dev libdbus-1-dev libssl-dev

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        working-directory: ./rust
        run: cargo build --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.binary_path }}